#mapA {
	width: 49.6%;
	height: 99%;
	float: left;
	border: solid 2px #20538D;
	left: 0;
	top: 0;
	position: absolute;
}

#mapB {
	width: 49.6%;
	height: 99%;
	float: right;
	border: solid 2px #20538D;
	left: 50%;
	top: 0;
	position: absolute;
}